
:root  {
  --background: 109 0% 100%;
  --foreground: 109 0% 10%;
  --card: 109 0% 100%;
  --card-foreground: 109 0% 15%;
  --popover: 109 0% 100%;
  --popover-foreground: 109 95% 10%;
  --primary: 109 39.2% 33.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 109 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 71 10% 95%;
  --muted-foreground: 109 0% 40%;
  --accent: 71 10% 90%;
  --accent-foreground: 109 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 109 0% 100%;
  --border: 109 20% 82%;
  --input: 109 20% 50%;
  --ring: 109 39.2% 33.5%;
  --radius: 0.75rem;
}
.dark  {
  --background: 109 10% 10%;
  --foreground: 109 0% 100%;
  --card: 109 0% 10%;
  --card-foreground: 109 0% 100%;
  --popover: 109 10% 5%;
  --popover-foreground: 109 0% 100%;
  --primary: 109 39.2% 33.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 109 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 71 10% 25%;
  --muted-foreground: 109 0% 65%;
  --accent: 71 10% 25%;
  --accent-foreground: 109 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 109 0% 100%;
  --border: 109 20% 50%;
  --input: 109 20% 50%;
  --ring: 109 39.2% 33.5%;
  --radius: 0.75rem;
}
